<p id="notice"><%= notice %></p>

<h1>Listing Date Stories</h1>

<table>
  <thead>
    <tr>
      <th>Story Text</th>
      <th>Approved?</th>
      <th>User</th>
      <th>Venue</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @date_stories.each do |date_story| %>
      <tr>
        <td><%= date_story.storyText %></td>
        <td><%= date_story.approved %></td>
        <td><%= link_to date_story.user.name, date_story.user %></td>
        <td><%= link_to date_story.venue.name, date_story.venue %> </td>

        <td><%= link_to 'Show', date_story %></td>
        <td><%= link_to 'Edit', edit_date_story_path(date_story) %></td>
        <td><%= link_to 'Destroy', date_story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Date story', new_date_story_path %>
