<%= form_for(@venue) do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Main Date Type"%><br>
    <%= f.select :date_type, ['Dinner', 'Coffee', 'Drinks', 'Dessert'] %>
  </div>
  <div class="field">
    <%= f.label :neighborhood %><br>
    <%= f.select :neighborhood, ['East-Side', 'Midtown-SLASH-Downtown', 'Buckhead-SLASH-Lindbergh']%>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :price_rating %><br>
    <%= f.select :price_rating, ['$', '$$', '$$$']%>
  </div>
  <div class="field">
    <%= f.label :dinner %><br>
    <%= f.select :dinner, ['NO', 'YES']%>
  </div>
  <div class="field">
    <%= f.label :drinks %><br>
    <%= f.select :drinks, ['NO', 'YES']%>
  </div>
  <div class="field">
    <%= f.label :dessert %><br>
    <%= f.select :dessert, ['NO', 'YES']%>
  </div>
  <div class="field">
    <%= f.label :coffee %><br>
    <%= f.select :coffee, ['NO', 'YES']%>
  </div>
  <div class="field">
    <%= f.label :mood %><br>
    <%= f.select :mood, ['Cozy-AND-Intimate', 'Cool-AND-Casual', 'Fun-AND-Lively', 'Not-Picky']%>
  </div>
  <div class="field">
    <%= f.label :polaroid_description %><br>
    <%= f.text_field :polaroid_description %>
  </div>

  <div class="field">
    <%= f.label :monday_special%><br>
    <%= f.text_field :monday_special %>
  </div>

  <div class="field">
    <%= f.label :tuesday_special%><br>
    <%= f.text_field :tuesday_special %>
  </div>

  <div class="field">
    <%= f.label :wednesday_special%><br>
    <%= f.text_field :wednesday_special %>
  </div>

  <div class="field">
    <%= f.label :thursday_special%><br>
    <%= f.text_field :thursday_special %>
  </div>

  <div class="field">
    <%= f.label :friday_special%><br>
    <%= f.text_field :friday_special %>
  </div>

  <div class="field">
    <%= f.label :saturday_special%><br>
    <%= f.text_field :saturday_special %>
  </div>

  <div class="field">
    <%= f.label :sunday_special%><br>
    <%= f.text_field :sunday_special %>
  </div>

  <div class="field">
    <%= f.label :why_blove_heading_1 %><br>
    <%= f.text_field :why_blove_heading_1 %>
  </div>

  <div class="field">
    <%= f.label :why_blove_description_1 %><br>
    <%= f.text_field :why_blove_description_1 %>
  </div>

  <div class="field">
    <%= f.label :why_blove_heading_2 %><br>
    <%= f.text_field :why_blove_heading_2 %>
  </div>

  <div class="field">
    <%= f.label :why_blove_description_2 %><br>
    <%= f.text_field :why_blove_description_2 %>
  </div>

  <div class="field">
    <%= f.label :why_blove_heading_3 %><br>
    <%= f.text_field :why_blove_heading_3 %>
  </div>

  <div class="field">
    <%= f.label :why_blove_description_3 %><br>
    <%= f.text_field :why_blove_description_3 %>
  </div>

  <div class="field">
    <%= f.label :food_drink %><br>
    <%= f.text_field :food_drink %>
  </div>
  <div class="field">
    <%= f.label :price_for_two %><br>
    <%= f.text_field :price_for_two %>
  </div>
    <div class="field">
    <%= f.label :monday_hours %><br>
    <%= f.text_field :monday_hours %>
  </div>
    </div>
    <div class="field">
    <%= f.label :tuesday_hours %><br>
    <%= f.text_field :tuesday_hours %>
  </div>
    </div>
    <div class="field">
    <%= f.label :wednesday_hours %><br>
    <%= f.text_field :wednesday_hours %>
  </div>
    </div>
    <div class="field">
    <%= f.label :thursday_hours %><br>
    <%= f.text_field :thursday_hours %>
  </div>
    </div>
    <div class="field">
    <%= f.label :friday_hours %><br>
    <%= f.text_field :friday_hours %>
  </div>
    </div>
    <div class="field">
    <%= f.label :saturday_hours %><br>
    <%= f.text_field :saturday_hours %>
  </div>
    </div>
    <div class="field">
    <%= f.label :sunday_hours %><br>
    <%= f.text_field :sunday_hours %>
  <div class="field">
    <%= f.label :crowd %><br>
    <%= f.text_field :crowd %>
  </div>
    <div class="field">
    <%= f.label :dress_code %><br>
    <%= f.select :dress_code, ['Casual (Jeans / T-shirt)', 'Stylish (Button up / Heels)', 'Dressy (Blazer / Dress)']%>
  </div>
    <div class="field">
    <%= f.label :parking %><br>
    <%= f.text_field :parking %>
  </div>
    <div class="field">
    <%= f.label :reservations %><br>
    <%= f.select :reservations, ['Yes', 'No']%>
  </div>
    <div class="field">
    <%= f.label :atmosphere %><br>
    <%= f.text_field :atmosphere %>
    </div>
  <div class="field">
    <%= f.label :keep_in_mind %><br>
    <%= f.text_field :keep_in_mind %>
  </div>
  <div class="field">
    <%= f.label :menu_link %><br>
    <%= f.text_field :menu_link %>
  </div>
  <div class="field">
    <%= f.label :reservation_link %><br>
    <%= f.text_field :reservation_link %>
  </div>
  <div class="field">
    <%= f.label :polaroid_image %><br>
    <%= f.file_field :polaroid_image %>
  </div>
    <div class="field">
    <%= f.label :thumbnail_image %><br>
    <%= f.file_field :thumbnail_image %>
  </div>
    <div class="field">
    <%= f.label :venue_image_1 %><br>
    <%= f.file_field :venue_image_1 %>
  </div>
  <div class="field">
    <%= f.label :venue_image_2 %><br>
    <%= f.file_field :venue_image_2 %>
  </div>
  <div class="field">
    <%= f.label :venue_image_3 %><br>
    <%= f.file_field :venue_image_3 %>
  </div>
  <div class="field">
    <%= f.label :venue_image_4 %><br>
    <%= f.file_field :venue_image_4 %>
  </div>
  <div class="field">
    <%= f.label :venue_image_5 %><br>
    <%= f.file_field :venue_image_5 %>
  </div>
  <div class="field">
    <%= f.label :blove_count %><br>
    <%= f.text_field :blove_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
