<p id="notice"><%= notice %></p>

<h1>Listing Venues</h1>

<table>
  <thead>
    <tr>
      <th>NAME!!!</th>
      <th>Date Type</th>
      <th>Mood</th>
      <th>Price Rating</th>
      <th>Neighborhood</th>
      <th>Address</th> 
      <th>Polaroid description</th>
      <th>Blove Count</th>
      <th>Today's Special</th>
      <th>Food drink</th>
      <th>Why blove</th>
      <th>Price for two</th>
      <th>Hours</th>
      <th>Details table</th>
      <th>Date experience</th>
      <th>Keep in mind</th>
      <th>Date Stories</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @venues.each do |venue| %>
      <tr>
        <td><%= venue.name %></td>
        <td>
        <% if venue.dinner == 'YES' %>
            <%= "Dinner" %>
        <% end %>
        <% if venue.drinks == 'YES' %>
            <%= "Drinks" %>
        <% end %>
        <% if venue.coffee == 'YES' %>
            <%= "Coffee" %>
        <% end %>
        <% if venue.dessert == 'YES' %>
            <%= "Dessert" %>
        <% end %>     
        </td>
        <td><%= venue.mood %></td>
        <td><%= venue.price_rating %></td>
        <td><%= venue.neighborhood %></td>
        <td><%= venue.address %></td>
        <td><%= venue.polaroid_description %></td>
        <td><%= venue.blove_count %></td>
        <% if DateTime.current.wday == 0 %>
          <td><%= venue.sunday_special %></td>
        <% elsif DateTime.current.wday == 1 %>
          <td><%= venue.monday_special %></td>
        <% elsif DateTime.current.wday == 2 %>
          <td><%= venue.tuesday_special %></td>
        <% elsif DateTime.current.wday == 3 %>
          <td><%= venue.wednesday_special %></td>
        <% elsif DateTime.current.wday == 4 %>
          <td><%= venue.thursday_special %></td>
        <% elsif DateTime.current.wday == 5 %>
          <td><%= venue.friday_special %></td>
        <% elsif DateTime.current.wday == 6 %>
          <td><%= venue.saturday_special %></td>
        <% end %>
        <td><%= venue.food_drink %></td>
        <td><%= venue.why_blove_heading_1 %></td>
        <td><%= venue.price_for_two %></td>
        <td><%= venue.monday_hours %></td>
        <td><%= venue.details_table %></td>
        <td><%= venue.date_experience %></td>
        <td><%= venue.keep_in_mind %></td>
          <% venue.date_stories.each do |story| %>
          <td><%= link_to story.storyText, story%></td>
          <% end %>
        <td><%= link_to 'Show', venue %></td>
        <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
        <td><%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Venue', new_venue_path %>
