<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Polaroid Image:</strong>
    <%= image_tag @venue.polaroid_image.url %>
</p>

<p>
  <strong>Thumbnail Image:</strong>
    <%= image_tag @venue.thumbnail_image.url %>
</p>

<p>
  <strong>Venue Image 1:</strong>
    <%= image_tag @venue.venue_image_1.url %>
</p>
<p>
  <strong>Venue Image 2:</strong>
    <%= image_tag @venue.venue_image_2.url %>
</p>
<p>
  <strong>Venue Image 3:</strong>
    <%= image_tag @venue.venue_image_3.url %>
</p>
<p>
  <strong>Venue Image 4:</strong>
    <%= image_tag @venue.venue_image_4.url %>
</p>
<p>
  <strong>Venue Image 5:</strong>
    <%= image_tag @venue.venue_image_5.url %>
</p>


<p>
  <strong>Date Type:</strong>
  <%= @venue.date_type %>
</p>

<p>
  <strong>Mood:</strong>
  <%= @venue.mood %>
</p>

<p>
  <strong>Price Rating:</strong>
  <%= @venue.price_rating %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @venue.neighborhood %>
</p>

<p>
  <strong>Address:</strong>
  <%= @venue.address %>
</p>

<p>
  <strong>Polaroid description:</strong>
  <%= @venue.polaroid_description %>
</p>

<p>
  <strong>Blove Count:</strong>
  <%= @venue.blove_count %>
</p>

<p>
  <strong>Specials:</strong>
  <%= @venue.specials %>
</p>

<p>
  <strong>Food drink:</strong>
  <%= @venue.food_drink %>
</p>

<p>
  <strong>Why blove:</strong>
  <%= "H1:   " + @venue.why_blove_heading_1 %>
  <%= "D1:   " + @venue.why_blove_description_1 %><br>
  <%= "H2:   " + @venue.why_blove_heading_2 %>
  <%= "D2:   " + @venue.why_blove_description_2 %><br>
  <%= "H3:   " + @venue.why_blove_heading_3 %>
  <%= "D3:   " + @venue.why_blove_description_3 %>

</p>

<p>
  <strong>Price for two:</strong>
  <%= @venue.price_for_two %>
</p>

<p>
  <strong>Hours:</strong>
  <%= 'Monday: ' + @venue.monday_hours %>
  <%= 'Tuesday: ' + @venue.tuesday_hours %>
  <%= 'Wednesday: ' + @venue.wednesday_hours %>
  <%= 'Thursday: ' + @venue.thursday_hours %>
  <%= 'Friday: ' + @venue.friday_hours %>
  <%= 'Saturday: ' + @venue.saturday_hours %>
  <%= 'Sunday: ' + @venue.sunday_hours %>

</p>

<p>
  <strong>Details table:</strong>
  <%= @venue.details_table %>
</p>

<p>
  <strong>Date experience:</strong>
  <%= @venue.date_experience %>
</p>

<p>
  <strong>Keep in mind:</strong>
  <%= @venue.keep_in_mind %>
</p>

<p>
  <strong>Date Stories:</strong>
  <%= @venue.date_stories %>
</p>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
