<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Date Type:</strong>
  <%= @venue.date_type %>
</p>

<p>
  <strong>Mood:</strong>
  <%= @venue.mood %>
</p>

<p>
  <strong>Price Rating:</strong>
  <%= @venue.price_rating %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @venue.neighborhood %>
</p>

<p>
  <strong>Polaroid description:</strong>
  <%= @venue.polaroid_description %>
</p>

<p>
  <strong>Blove Count:</strong>
  <%= @venue.blove_count %>
</p>

<p>
  <strong>Specials:</strong>
  <%= @venue.specials %>
</p>

<p>
  <strong>Food drink:</strong>
  <%= @venue.food_drink %>
</p>

<p>
  <strong>Why blove:</strong>
  <%= @venue.why_blove %>
</p>

<p>
  <strong>Price for two:</strong>
  <%= @venue.price_for_two %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @venue.hours %>
</p>

<p>
  <strong>Details table:</strong>
  <%= @venue.details_table %>
</p>

<p>
  <strong>Date experience:</strong>
  <%= @venue.date_experience %>
</p>

<p>
  <strong>Keep in mind:</strong>
  <%= @venue.keep_in_mind %>
</p>

<p>
  <strong>Date Stories:</strong>
  <%= @venue.date_stories %>
</p>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
